{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
<div class="col-lg-6 col-lg-offset-3 text-center" style='margin-top:20px;'>
<h3 class="text-center">Edit Profile</h3>

<form method='POST'>
{% csrf_token %}

{% if form.errors %}
<div class='alert alert-warning alert-dismissable' role='alert'>
<button class="close" data-dismiss='alert'>
<small><sup>x</sup></small>
</button>

{% for field in form %}
  {% if field.errors %}
    {{ field.errors }}
  {% endif %}
{% endfor %}

</div>
{% endif %}

{{ form.as_p }}

  <p><small><a href="{% url 'change_password' %}">click here</a> To change your Password</small></p>
<p><small><a href="{% url 'edit' %}">click here</a> for more settings</small></p>
<input type="submit" value='Edit' class="btn btn-secondary">
</form>

</div>

{% endblock %}
